<div class="comments_comment">
	<p>
		<strong>Commenter:</strong>
		<%= comment.author %>
	</p>
	<%if comment.content.present?%>
	<p>
		<strong>Comment:</strong>
		<%= comment.content %>
	</p>
	<%end%>
</div>