@tailwind base;
@tailwind components;
@tailwind utilities;
@import "components/components";

a{
  text-decoration: none;
  color: $blue;
}

h1{
  &.logo{
    font-family: 'Pacifico', cursive;
    padding: 10px;
    justify-self: center;
    display:flex;
    color: white;
  }
}
h2{
  a{color: $white;}
    align-self: center;
    padding-bottom: 6px;
    border-bottom: 2px solid $black;
}

.notice, .error{
  height:0;
  position: relative;
  bottom: -20px;
  width: 100%;
}
.notice{
  color: $green;
}
.error,.errors{
  color: $red;
}
.categories_category, .articles_article{
  margin-bottom: 10px;
  padding: 10px;
  color: $black;
  background-color: white;
}
input[type='submit']{
  border: none;
  outline: none;
  padding: 10px;
  font-size: inherit;
  color: $white;
  background-color: $black;
}
.content{
  padding: 15px;
}
.actions{ 
  position: absolute;
  top: 10px;
  right: 10px;
}
