@import 'variables';
@import 'mixins';
@import 'font-awesome';
@import 'articles';
@import 'categories';
@import 'comments';
@import 'home';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  height: 100vh;
  background-color: $black;
  color: $white;
  font-family: 'Neucha', cursive;
}

header, main, footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container{
  display:flex;
  flex-direction: column;
  @include media('desktop',min){
    width: 1200px;
  }
  @include media('desktop'){
    width: 90%;
  }
  @include media('tablet'){
    width: 100%;
  }  
}

header{
  border-bottom: 4px solid $white;
  @include media('desktop',min){
    margin-bottom: 60px;
  }
  @include media('desktop'){
    margin-bottom: 40px;
  }
  @include media('tablet'){
    margin-bottom: 20px;
  }
}

form{
  width: 320px;
  align-self: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  p{
    margin-bottom: 10px;
  }
  input, textarea{
    width: 100%;
  }
}

a{
  text-decoration: none;
  color: $blue;
}

h1{
  &.logo{
    font-family: 'Pacifico', cursive;
    a{color: white}
    padding: 10px;
    justify-self: center;
  }
}
h2{
  a{color: $white;}
    align-self: center;
    padding-bottom: 6px;
    border-bottom: 2px solid $black;
}

@include media('desktop',min){
  body{font-size: 16px}
  h1{font-size: 34px}
  h2{font-size: 26px}
  h3{font-size: 22px}
}
@include media('desktop'){
  body{font-size: 14px}
  h1{font-size: 30px}
  h2{font-size: 20px}
  h3{font-size: 16px}
}
@include media('tablet'){
  body{font-size: 14px}
  h1{font-size: 26px}
  h2{font-size: 22px}
  h3{font-size: 18px}
}

.notice, .error{
  height:0px;
  position: relative;
  bottom: -20px;
  width: 100%;
}
.notice{
  color: $green;
}
.error,.errors{
  color: $red;
}
.categories_category, .articles_article{
  margin-bottom: 10px;
  padding: 10px;
  color: $black;
  background-color: white;
}
input[type='submit']{
  border: none;
  outline: none;
  // margin: 10px;
  padding: 10px;
  font-size: inherit;
  color: $white;
  background-color: $black;
}
.content{
  padding: 15px;
}
.actions{ 
  position: absolute;
  top: 10px;
  right: 10px;
}