.articles{
  position: relative;
  &_wrap{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  &_article{
    position: relative;
    color: black;
    background-color: white;
  }
}