@mixin media($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@mixin col($width, $cols, $padding: 15) {
    flex-basis: $width * 100% / $cols;
    max-width: $width * 100% / $cols;
    padding-left: $padding + px;
    padding-right: $padding + px;
    flex-shrink: 0;
    flex-grow: 0;
}
