$breakpoints: (
  "phone":        360px,
  "phone_wide":   480px,
  "phablet":      560px,
  "tablet_small": 640px,
  "tablet":       768px,
  "tablet_m":   	992px,
  "tablet_wide":  1025px,
  "desktop":      1200px,
  "desktop_wide": 1440px
);

$darkblue: #202B2D;
$black: #161616;
$white: #B9B9B9;