<div class="category">
  <%= render  @category %>
  <div class="comments">
    <%= render @category.comments%>
  </div>
  <div class="articles">
    <h2>Articles</h2>
    <%= render @category.articles %>
    <div class="actions">
      <%= link_to 'New Article', new_article_path %>
    </div>
  </div>
</div>